<div class="configuration">
    <div class="configuration_header">
        <div class="header_left">
            <h3 class="configuration_heading">CONFIGURATION</h3>
        </div>
    </div>
    <div class="date_wise_availability">
        <div class="row">
            <div class="col-sm-6">
                <h6 class="configuration_contant_heading">Date wise availability</h6>
                <div class="configuration_checkbox">
                    <mat-checkbox>Everyday</mat-checkbox>
                    <mat-checkbox>Specific days</mat-checkbox>
                </div>
            </div>
            <div class="col-sm-6">
                <h6 class="configuration_contant_heading">Time wise availability</h6>
                <div class="configuration_checkbox">
                    <mat-checkbox>Full time</mat-checkbox>
                    <mat-checkbox>Specific time</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="surge_on_delivery">
        <h6 class="configuration_contant_heading">Surge on Delivery</h6>
        <div class="configuration_contant_slide_toggle">
            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
        </div>
    </div>
    <div class="recurring_task">
        <h6 class="configuration_contant_heading">Recurring Task</h6>
        <P class="instruction_text">Enable this to allow the Admin to edit their Order before they are accepted by the
            Admin/Stores.</P>
    </div>
    <div class="scheduling_delivery_options">
        <h6 class="configuration_contant_heading">Scheduling - Delivery Options</h6>
        <div class="configuration_checkbox">
            <mat-checkbox>On Demand</mat-checkbox>
            <mat-checkbox>Scheduling</mat-checkbox>
        </div>
    </div>
    <div class="restarurents_level_loyalty">
        <h6 class="configuration_contant_heading">Restaurents level loyalty Earning</h6>
        <div class="instruction_and_slide_toggle">
            <p class="instruction_text">
                Please enable this toggle to enable loyalty point earning and usage on restaurents level</p>

            <div class="restarurents_slide_toggle">
                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
            </div>
        </div>
    </div>
</div>