<div class="payment">
    <div class="payment_header">
        <div class="header_left">
            <h3 class="payment_heading">ORDER SETTINGS</h3>
        </div>
    </div>
    <div class="accept_reject_order">
        <div class="row">
            <div class="col-sm-3">
                <div class="payment_left">
                    <h6 class="payment_left_heading">Outstanding Payment</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="payment_right">
                    <p class="payment_instruction_text">
                        Add Debt to your Customer account against outstanding payments/cancellation fees/ad-hoc charges.
                        This will reflect on the Customer account as soon as the Customer opens web/mobile application
                    </p>
                    <div class="payment_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accept_reject_order">
        <div class="row">
            <div class="col-sm-3">
                <div class="payment_left">
                    <h6 class="payment_left_heading">Payment Option</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="payment_right">
                    <div class="payment_instruction_text">
                        <p>Cash on Delivery</p>
                        <p>To provide customers the ability to settle order payment through Cash.</p>
                    </div>
                    <div class="payment_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
                <div class="payment_right">
                    <div class="payment_instruction_text">
                        <p>Pay on Delivery </p>
                        <p>To provide customers the ability to settle order payment through Card.</p>
                    </div>
                    <div class="payment_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
                <div class="payment_right">
                    <div class="payment_instruction_text">
                        <p>Pay Later </p>
                        <p>Pay Later To provide customers the ability to settle order payment off-platform.</p>
                    </div>
                    <div class="payment_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>