.category-spacer {
    padding: 0 25px;

    .category-header {
        display: flex;
        position: relative;
        align-items: center;
        height: 10%;
        width: 100%;
        padding: 8px 0;
        box-shadow: inset 0px -1px var(--border-color-gray-shade);

        .left-category {
            padding: 5px 0 0 0px;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .right-category {
            position: absolute;
            right: 0px;
            display: flex;
            align-items: center;

            .back_button {
                display: flex;
                height: 40px;
                border: none;
                color: var(--primary-color-white-shade);
                font-weight: 500;
                border-radius: 6px;
                padding: 8px;
                background-color: var(--button-background-color-shade);
            }
        }

    }
}

.icon-hover:hover {
    border-color: var(--primary-color-shade) !important;
    background-color: var(--primary-color-white-shade) !important;
    color: var(--primary-color-shade) !important;
}

.icon-hover:hover i {
    color: var(--primary-color-shade) !important;
}

th,
td {
    border: 1px solid var(--light-shade-background-gray-shade);
    padding: 8px;
    text-align: left;
}

.varient-container {
    overflow: scroll;
}

.varient-table {
    width: 20%;
}

.varient-inner-container {
    gap: 39px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.varient-inner-container .varient-table:last-child {
    margin-right: auto;
}


.price-value {
    text-decoration: line-through;
}

.discount {
    font-size: 1.5rem;
}

.product-price {
    font-size: 0.8rem;
}

.currency-symbol {
    font-size: .9rem;
}

.product-image {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    cursor: pointer;
}