<div class="loyalty-points">
    <div class="loyalty-points-header">

        <h3 class="loyalty-points-heading">Loyalty Points</h3>
    </div>
    <div class="main-loyalty-points-container">
        <div class="about-loyalty-points">
            <p class="text-about-loyalty-points">Loyalty points are a bonus incentive scheme used to keep customers
                dedicated to your platform. Here you can define a variety of things like the earning criteria, the
                redemption criteria, the expiry time of points, maximum earning points, minimum order amount above which
                loyalty points can be applied and many more.</p>
        </div>
        <div class="sec-loyalty-points-container">
            <div class="each-row">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Earning Criteria</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-field-loyalty-points">
                                    <mat-form-field>
                                        <input class="input-earning" matInput type="number" placeholder="$"
                                            formControlName="earning">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <span> = </span>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <input class="input-earning" matInput type="number" placeholder="$"
                                        formControlName="points">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1">
                                <span>Points</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-row">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Minimum Order Amount for Earning</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-field-loyalty-points">
                            <mat-form-field>
                                <input class="input-earning" matInput type="number" placeholder="$"
                                    formControlName="earning">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-row">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Maximum Earning Points</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-field-loyalty-points">
                            <mat-form-field>
                                <input class="input-earning" matInput type="number" placeholder=""
                                    formControlName="earning">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-row">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Expiry Duration Days</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-field-loyalty-points">
                            <mat-form-field>
                                <input class="input-earning" matInput type="number" placeholder=""
                                    formControlName="earning">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-row">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Redemption Criteria</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="input-field-loyalty-points">
                                    <mat-form-field>
                                        <input class="input-earning" matInput type="number" placeholder=""
                                            formControlName="earning">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <span>Points =</span>
                            </div>
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <input class="input-earning" matInput type="number" placeholder="$"
                                        formControlName="points">
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-row">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Minimum Order Amount for Redemption</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-field-loyalty-points">
                            <mat-form-field>
                                <input class="input-earning" matInput type="number" placeholder="$"
                                    formControlName="earning">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-row">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Minimum Loyalty Point for Redemption</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-field-loyalty-points">
                            <mat-form-field>
                                <input class="input-earning" matInput type="number" placeholder=""
                                    formControlName="earning">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="each-row">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="heading-loyalty-points">
                            <h3 class="heading">Maximum Redemption Amount percentage</h3>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="input-field-loyalty-points">
                            <mat-form-field>
                                <input class="input-earning" matInput type="number" placeholder=""
                                    formControlName="earning">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="cancel-button">Cancel</button>
                <button type="submit" class="add-button">Add</button>
              </div>
        </div>
    </div>
</div>