<div class="settings_orders">
    <div class="settings_orders_header">
        <div class="header_left">
            <h3 class="settings_orders_heading">ORDER SETTINGS</h3>
        </div>
    </div>
    <div class="accept_reject_order">
        <div class="row">
            <div class="col-sm-3">
                <div class="settings_orders_left">
                    <h6 class="settings_orders_left_heading">Accept/Reject Order</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="settings_orders_right">
                    <div class="settings_orders_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="edit_order">
        <div class="row">
            <div class="col-sm-3">
                <div class="settings_orders_left">
                    <h6 class="settings_orders_left_heading">Edit Order</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="settings_orders_right">
                    <p class="settings_orders_instruction_text">
                        Enable this to allow the Admin to edit their Order before they are accepted by the Admin/Stores.
                    </p>
                    <div class="settings_orders_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order_status">
        <div class="row">
            <div class="col-sm-3">
                <div class="settings_orders_left">
                    <h6 class="settings_orders_left_heading">Order Status Configuration</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="settings_orders_right">
                    <p class="settings_orders_instruction_text">
                        Enable this toggle to allow the merchants to change the order status to Completed/Cancelled</p>
                    <div class="settings_orders_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rating_reviews">
        <div class="row">
            <div class="col-sm-3">
                <div class="settings_orders_left">
                    <h6 class="settings_orders_left_heading">Ratings & Reviews</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="settings_orders_right">
                    <p class="settings_orders_instruction_text">
                        Enable this to allow customer to rate merchants on the platform.</p>
                    <div class="settings_orders_right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>