<div class="customer">
    <div class="customer_header">
        <div class="header_left">
            <h3 class="customer_heading">CUSTOMER SETTINGS</h3>
        </div>
    </div>
    <div class="sing_up">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Sign Up</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Control the signup of Customer on your platform. Here you are provided with a variety of
                            options such as whether to have email or phone number as mandatory fields on the signup
                            form, how do you want to verify the Customer : via Email verification or OTP verification
                            and which social platform you want to enable through which Customer can sign up on your
                            platform.</p>
                    </div>
                </div>
            </div>
            <div class="sign_up_conditions">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="reqired_field">
                            <h6 class="reqired_field_heading">Required fields on signup</h6>
                            <div class="customer_right_slide_toggle">
                                <h6 class="sub_heading">Email</h6>
                                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                            </div>
                            <div class="customer_right_slide_toggle">
                                <h6 class="sub_heading">Phone No.</h6>
                                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="customer_verification">
                            <h6 class="customer_verification_heading">Customer Verification</h6>
                            <div class="customer_right_slide_toggle">
                                <h6 class="sub_heading">Email Verification</h6>
                                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                            </div>
                            <div class="customer_right_slide_toggle">
                                <h6 class="sub_heading">OTP Verification</h6>
                                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="login_via">
                            <h6 class="login_via_heanding">Login Via</h6>
                            <div class="customer_right_slide_toggle">
                                <h6 class="sub_heading">Google</h6>
                                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                            </div>
                            <div class="customer_right_slide_toggle">
                                <h6 class="sub_heading">Facebook</h6>
                                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                            </div>
                            <div class="customer_right_slide_toggle">
                                <h6 class="sub_heading">OPT</h6>
                                <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customer_sign_up_link">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Customer Signup Link</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Www.suryadashboard.com</p>
                        <div class="customer_right_slide_toggle">
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signup_template">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Signup Template</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Customer signup form contain only few fields necessary for any Customer
                            signup(name,email,phone number,password). But, if your platform requires additional
                            information from your Customer then you can enable signup templates where one can define the
                            additional fields for Customer profile and also you can specify whether they are mandatory
                            or not. If mandatory it will be asked as part of Customer signup.</p>
                        <div class="customer_right_slide_toggle">
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table_customer_setting">
        add table here
    </div>
    <div class="customer_login_restriction">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Customer login restriction</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Enable this, to restrict Customer from accessing the platform without logging in into the platform. (Make sure your apps are updated).</p>
                        <div class="customer_right_slide_toggle">
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customer_verification">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Customer Verification</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Customer verification and rejection based on profile information. Enable to ensure the order is accepted only for verified customers</p>
                        <div class="customer_right_slide_toggle">
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="guest_checkout">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Guest Checkout</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Enable this to allow customer to place orders as a Guest without signing up</p>
                        <div class="customer_right_slide_toggle">
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customer_signup_fees">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Customer Signup Fees</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Turn on the toggle, to collect one time amount from customers for registering on your website. You must enable Stripe for this.</p>
                        <div class="customer_right_slide_toggle">
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customer_subscription">
        <div class="row">
            <div class="col-sm-3">
                <div class="customer_left">
                    <h6 class="customer_left_heading">Customer Subscription</h6>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="customer_right">
                    <div class="customer_instruction_with_toggle">
                        <p class="customer_instruction_text">
                            Enable this, to define different subscription plans for customers to access the platform.</p>
                        <div class="customer_right_slide_toggle">
                            <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>