<div class="general_setting">
    <div class="general_setting_header">
        <div class="header_left">
            <h3 class="general_setting_heading">GENERAL SETTINGS</h3>
        </div>
    </div>
    <div class="currency">
        <div class="row">
            <div class="col-sm-2">
                <div class="currency_left">
                    <h6 class="currency_left_heading">Currency</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="currency_mid">
                    <p class="currency_instruction_text">
                        Choose the currency in which your marketplace will operate in. Make sure that currency is
                        supported by your payment gateway.</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="sponsored_dropdown">
                    <button class="dropDown-button">
                        <h5 class="sponsored_heading">INR (₹)</h5>
                        <!-- Arrow Icon -->
                        <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="currency_formating">
        <div class="row">
            <div class="col-sm-2">
                <div class="currency_formating_left">
                    <h6 class="currency_formating_left_heading">Currency Formatting</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="currency_formating_mid">
                    <p class="currency_formating_instruction_text">
                        Choose the currency format in which your marketplace and dashboard will show the currency.</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="sponsored_dropdown">
                    <button class="dropDown-button">
                        <h5 class="sponsored_heading">Default</h5>
                        <!-- Arrow Icon -->
                        <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="timezone">
        <div class="row">
            <div class="col-sm-2">
                <div class="timezone_left">
                    <h6 class="timezone_left_heading">Timezone</h6>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="timezone_mid">
                    <p class="timezone_instruction_text">
                        Select the timezone you operate in.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="sponsored_dropdown">
                    <button class="dropDown-button">
                        <h5 class="sponsored_heading">(UTC+05:30) Chennai, Kolkata,</h5>
                        <!-- Arrow Icon -->
                        <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="time_format">
        <div class="row">
            <div class="col-sm-2">
                <div class="time_format_left">
                    <h6 class="time_format_left_heading">Time Format</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="time_format_mid">
                    <p class="time_format_instruction_text">
                        The selected time format will be visible on your entire platform from Admin/Store dashboard to
                        Customer Applications</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="sponsored_dropdown">
                    <button class="dropDown-button">
                        <h5 class="sponsored_heading">12Hrs Format</h5>
                        <!-- Arrow Icon -->
                        <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="date_format">
        <div class="row">
            <div class="col-sm-2">
                <div class="date_format_left">
                    <h6 class="date_format_left_heading">Date Format</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="date_format_mid">
                    <p class="date_format_instruction_text">
                        The selected time format will be visible on your entire platform from Admin/Store dashboard to
                        Customer Applications</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="sponsored_dropdown">
                    <button class="dropDown-button">
                        <h5 class="sponsored_heading">MMMM dd yyyy</h5>
                        <!-- Arrow Icon -->
                        <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="appliances_share">
        <div class="row">
            <div class="col-sm-2">
                <div class="appliances_share_left">
                    <h6 class="appliances_share_left_heading">Appliances Share</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="appliances_share_mid">
                    <p class="appliances_share_instruction_text">
                        Enable this to share Appliances via social media.</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="right_slide_toggle">
                    <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="delivery_address">
        <div class="row">
            <div class="col-sm-2">
                <div class="delivery_address_left">
                    <h6 class="delivery_address_left_heading">Delivery Address Confirmation</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="delivery_address_mid">
                    <p class="delivery_address_instruction_text">
                        Enable this to show delivery address confirmation pop up to the customer on completing order
                        checkout</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="right_slide_toggle">
                    <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="aerial_distance">
        <div class="row">
            <div class="col-sm-2">
                <div class="aerial_distance_left">
                    <h6 class="aerial_distance_left_heading">Aerial Distance</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="aerial_distance_mid">
                    <p class="aerial_distance_instruction_text">
                        Enable this to showcase Aerial distance else the merchant distance will be calculated by Google
                        Maps/Mappr</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="right_slide_toggle">
                    <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="favourite_stores">
        <div class="row">
            <div class="col-sm-2">
                <div class="favourite_stores_left">
                    <h6 class="favourite_stores_left_heading">Favourite Stores</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="favourite_stores_mid">
                    <p class="favourite_stores_instruction_text">
                        Enable this to allow your customers to mark Stores as favourites</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="right_slide_toggle">
                    <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="auto_refund">
        <div class="row">
            <div class="col-sm-2">
                <div class="auto_refund_left">
                    <h6 class="auto_refund_left_heading">Auto Refund</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="auto_refund_mid">
                    <p class="auto_refund_instruction_text">
                        Allow auto refund when order is cancelled by the Admin/Store/manager</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="right_slide_toggle">
                    <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="order_status">
        <div class="row">
            <div class="col-sm-2">
                <div class="order_status_left">
                    <h6 class="order_status_left_heading">Order Ready Status</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="order_status_mid">
                    <p class="order_status_instruction_text">
                        Enable this toggle to set order ready status(Make sure your apps are updated)</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="right_slide_toggle">
                    <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="distance_unit">
        <div class="row">
            <div class="col-sm-2">
                <div class="distance_unit_left">
                    <h6 class="distance_unit_left_heading">Distance Unit</h6>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="distance_unit_mid">
                    <p class="distance_unit_instruction_text">
                        Select the timezone you operate in.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="sponsored_dropdown">
                    <button class="dropDown-button">
                        <h5 class="sponsored_heading">KM</h5>
                        <!-- Arrow Icon -->
                        <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="customer_rating">
        <div class="row">
            <div class="col-sm-2">
                <div class="customer_rating_left">
                    <h6 class="customer_rating_left_heading">Customer Rating</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="customer_rating_mid">
                    <p class="customer_rating_instruction_text">
                        Enable this, to allow Stores to rate customers after the Store completes their order.</p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="right_slide_toggle">
                    <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="customer_rating">
        <div class="row">
            <div class="col-sm-8">
                <div class="customer_rating_left">
                    <h6 class="customer_rating_left_heading">Customer Can See The Merchants With Same Tags Only</h6>
                    <div class="right_slide_toggle">
                        <mat-slide-toggle class="custom-slide-toggle"></mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-actions">
                    <button type="submit" class="add-button" (click)="onAddTagsOpen()">Add tag</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mat-elevation-z8 table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Default Column -->
            <ng-container matColumnDef="default">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Default </th>
                <td mat-cell *matCellDef="let element"> {{element.default}} </td>
            </ng-container>

            <!--  Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element"> {{element.action}} </td>
            </ng-container>

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Data Rows -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
</div>