<div class="filter-header">
    <div class="filter-header-spacer">
        <div class="dialog-header">
            <h2 class="heading_h2">Filters</h2>

            <button class="close-button" (click)="closeDialog()">&#x2715;</button>
        </div>

    </div>

    <div class="filter-container">
        <div *ngFor="let filter of filters" class="filter-section">
            <!-- Filter Name (displayed in blue background) -->
            <div class="filter-name">
                <p class="filter_text">{{ filter.filterName }}</p>
            </div>

            <!-- Filter Options (displayed below the filter name) -->
            <div class="filter-options">
                <!-- Loop through each filter option -->
                <div *ngFor="let option of filter.filterOptions" class="option">

                    <!-- Only display image and text if both are available -->
                    <div *ngIf="option.optionImage && option.optionName; else textOnly">
                        <div class="if_image_text">
                            <img [src]="option.optionImage" alt="{{ option.optionName }}" class="option-image">
                            <p class="text_in_image" [matTooltip]="option.optionName">{{ option.optionName }}</p>
                        </div>
                    </div>

                    <!-- Fallback for options that only have text -->
                    <ng-template #textOnly>
                        <div class="if_text">
                            <p class="only_text" [matTooltip]="option.optionName">{{ option.optionName }}</p>
                        </div>
                    </ng-template>

                </div>
            </div>

        </div>
    </div>

</div>