<div class="promotions-header">
    <div class="promotions-header-spacer">
        <div class="dialog-header">
            <h2 class="heading_h2">View Product</h2>


            <button class="close-button" (click)="closeDialog()">&#x2715;</button>
        </div>
        <div class="promotions-form">
            <div class="">
                <div class="border rounded-4 mt-3 mb-3 d-flex justify-content-center">
                    <!-- <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
                    [href]="productImage?.url"> -->
                    <img class="product-image rounded-4 fit" [src]="productImageUrl" />
                    <!-- </a> -->
                </div>
            </div>
        </div>
    </div>
</div>