<div class="sub-admins-permission">
    <div class="sub-admins-permission-header">

        <h3 class="sub-admins-heading">SUB-ADMINS</h3>

        <div class="header-right">
            <div class="btn-add">
                <button class="add" routerLink="sub-admins/sub-admins-permission" (click)="onPermissionOpen()">Save
                </button>
            </div>

        </div>
    </div>
    <div class="first_row_permission">
        <div class="row">
            <div class="col-sm-4">
                <div class="catalogue_permission">
                    <div class="catalogue_permission_header">
                        <h6 class="catalogue_permission_heading">CATALOGUE</h6>
                        <mat-checkbox>Select All</mat-checkbox>
                    </div>
                    <div class="catalogue_permission_list">
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Create</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Update</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Delete</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Block</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="suppliers_permission">
                    <div class="suppliers_permission_header">
                        <h6 class="suppliers_permission_heading">SUPPLIERS</h6>
                        <mat-checkbox>Select All</mat-checkbox>
                    </div>
                    <div class="suppliers_permission_list">
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Create</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Update</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Delete</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Block</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="brands_permission">
                    <div class="brands_permission_header">
                        <h6 class="brands_permission_heading">BRANDS</h6>
                        <mat-checkbox>Select All</mat-checkbox>
                    </div>
                    <div class="brands_permission_list">
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Create</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Update</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Delete</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Block</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second_row_permission">
        <div class="row">
            <div class="col-sm-4">
                <div class="orders_permission">
                    <div class="orders_permission_header">
                        <h6 class="orders_permission_heading">ORDERS</h6>
                        <mat-checkbox>Select All</mat-checkbox>
                    </div>
                    <div class="orders_permission_list">
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Create</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Update</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Delete</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Block</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="banners_permission">
                    <div class="banners_permission_header">
                        <h6 class="banners_permission_heading">BANNERS</h6>
                        <mat-checkbox>Select All</mat-checkbox>
                    </div>
                    <div class="banners_permission_list">
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Create</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Update</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Delete</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Block</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="promotions_permission">
                    <div class="promotions_permission_header">
                        <h6 class="promotions_permission_heading">PROMOTIONS</h6>
                        <mat-checkbox>Select All</mat-checkbox>
                    </div>
                    <div class="promotions_permission_list">
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Create</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Update</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Delete</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">Block</mat-checkbox>
                        <mat-checkbox class="checkbox_cstm" labelPosition="before">List</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>