<div class="language">
    <div class="language_header">
        <div class="header_left">
            <h3 class="language_heading">LANGUAGE SETTINGS</h3>
        </div>
    </div>
    <div class="language_selector">
        <div class="current_language">
            <h6 class="language_selector_heading">Current language for your dashboard</h6>
            <div class="language_selector_btn">
                <button class="dropDown-button">
                    <h6 class="language_selector_btn_heading">English</h6>
                    <!-- Arrow Icon -->
                    <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                </button>
            </div>
        </div>
        <div class="primary_languale">
            <h6 class="language_selector_heading">Primary language for your website</h6>
            <div class="language_selector_btn">
                <button class="dropDown-button">
                    <h6 class="language_selector_btn_heading">English</h6>
                    <!-- Arrow Icon -->
                    <mat-icon>{{ isContainerVisible ? 'expand_less' : 'expand_more' }}</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="available_language">
        <div class="row">
            <div class="col-sm-4">
                <h6 class="available_language_heading">Languages available over your marketplace</h6>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="english_checkbox">
                            <mat-checkbox>English</mat-checkbox>
                            <mat-checkbox>English</mat-checkbox>
                            <mat-checkbox>English</mat-checkbox>
                            <mat-checkbox>English</mat-checkbox>
                            <mat-checkbox>English</mat-checkbox>
                            <mat-checkbox>English</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="french_checkbox">
                            <mat-checkbox>French</mat-checkbox>
                            <mat-checkbox>French</mat-checkbox>
                            <mat-checkbox>French</mat-checkbox>
                            <mat-checkbox>French</mat-checkbox>
                            <mat-checkbox>French</mat-checkbox>
                            <mat-checkbox>French</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="arabic_checkbox">
                            <mat-checkbox>Arabic</mat-checkbox>
                            <mat-checkbox>Arabic</mat-checkbox>
                            <mat-checkbox>Arabic</mat-checkbox>
                            <mat-checkbox>Arabic</mat-checkbox>
                            <mat-checkbox>Arabic</mat-checkbox>
                            <mat-checkbox>Arabic</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="button" class="cancel-button">Cancel</button>
            <button type="submit" class="add-button">Add</button>
        </div>
    </div>
    <div class="custom_language">

        <div class="row">
            <div class="col-sm-4">
                <div class="custom_language_left">
                    <h6 class="custom_language_heading">Add a custom language for your webapp</h6>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="add_more">
                    <div class="form-actions">
                        <button type="submit" class="add-button">Add more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>