/*  Style to make the catalouge Borde-radius --0 */
::ng-deep .mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
    border-radius: 0;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 80vw !important;
    min-width: 35vw !important;
}

//remove wrapper space between mat error and mat input 
::ng-deep .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none !important;
}

/*----------------Common Styling---------------- */
.close-button {
    font-size: 1.8rem;
    color: var(--primary-color-white-shade);
    padding: 0 14px 6px 0;
    border: none;
    background: transparent;
}

/*  Heading of the Add Filter Dialog*/
.filter-header {
    width: 35vw;
    max-height: 70vh;

    .filter-header-spacer {


        .dialog-header {
            display: flex;
            justify-content: space-between;
            background-color: black;
            color: var(--primary-color-white-shade);

            .heading_h2 {
                font-size: 1.5rem;
                position: relative;
                left: 30px;
                // width: fit-content;
                box-sizing: border-box;
                padding: 10px 5px;
            }
        }


        .filter-form {
            margin: 0 20px;

            .option_name {
                margin-top: 20px;
            }

            .first-row {
                margin-top: 25px;
            }

            .mat-mdc-form-field {
                width: 100%;

                mat-label {
                    font-size: 1rem;
                    padding: 5px 8px;
                    color: var(--light-shade-text-gray-shade);
                }
            }

            .category_image_input {
                display: flex;
                margin: 20px 0;

                input {
                    width: 100%;
                    height: fit-content;
                    box-shadow: 0px 0px 12px -7px;
                    background-color: var(--input-background-color-gray-shade) !important;

                }

                .preview {
                    display: contents;

                    .preview-images {
                        max-width: 180px;
                        max-height: 130px;
                        margin-top: 10px;
                        height: 125px;
                        margin: 0 5px;
                    }

                    .image-container {
                        height: 125px;
                        display: flex;

                        .delete-icon {
                            cursor: pointer;
                            font-size: 1.3rem;
                        }
                    }

                }
            }

            .upload_file {
                margin: 20px 0px;
            }

            .form-actions {
                display: flex;
                justify-content: center;
                gap: 20px;
                width: 100%;
                border-bottom: 30px solid transparent;


                .cancel-button {
                    display: flex;
                    justify-content: center;
                    padding: 8px 18px;
                    background-color: var(--cancel-button-red-color-shade);
                    border-radius: 5px;
                    width: 130px;
                    color: var(--primary-color-white-shade);
                    border: none;
                    font-size: 1.1rem;
                }

                .add-button {
                    display: flex;
                    justify-content: center;
                    padding: 8px 18px;
                    background-color: var(--background-color-blue-shade);
                    border-radius: 5px;
                    width: 130px;
                    color: var(--primary-color-white-shade);
                    border: none;
                    font-size: 1.1rem;
                }

            }

        }
    }
}