<div class="filter-header">
    <div class="filter-header-spacer">
        <div class="dialog-header">
            <h2 class="heading_h2">Add Option</h2>

            <button class="close-button" (click)="closeDialog()">&#x2715;</button>
        </div>
        <div class="filter-form">
            <form [formGroup]="customerForm" (ngSubmit)="onAdd() ">

                <div class="option_name">
                    <h6 class="category_image_input_heading">Option Name <span class="text-danger h4">*</span></h6>
                    <mat-form-field class="add-filter-form" appearance="outline">
                        <input matInput id="option_name" placeholder="Enter" formControlName="optionName" />
                    </mat-form-field>
                    <mat-error *ngIf="customerForm.get('optionName')?.hasError('required') && customerForm.get('optionName')?.touched">
                        Option name is required
                    </mat-error>
                </div>

                <div class="upload_file">
                    <h6 class="category_image_input_heading">Category Image<span class="text-secondary"> (Optional)</span></h6>
                    <div class="category_image_input">
                        <!-- Selected Images Preview -->
                        <div class="preview" *ngIf="selectedFiles.thumbnail">
                            <div class="image-container">
                                <span class="delete-icon" (click)="removeSelectedFile()">
                                    <mat-icon aria-hidden="false" aria-label="clear" fontIcon="clear"></mat-icon>
                                </span>
                                <img class="preview-images" [src]="selectedFiles.thumbnail" alt="Image" />
                            </div>
                        </div>
                        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" />
                    </div>
                </div>

                <div class="form-actions">
                    <button type="button" class="cancel-button" (click)="closeDialog()">Cancel</button>
                    <button type="submit" class="add-button">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>